@import "../../global.scss";

.inputContainer{
  padding: $baseSize;  
  &:last-child{
    text-align: right;
  }
}
.inputLabel {
  text-transform: capitalize;
  color: $secondary;
}
.formInput {
  display: block;
  margin-top: $baseSize / 2; 
  background-image: linear-gradient(to left top, $primary, $darken);
  height: 18px;
  border-radius: 7px;
  border-color: $primary $darken;
  width: 90%;
  transition: all .2s;
  color: $secondary;

  &:focus {
    outline-width: 0;
    transform: scale(1.05);
  }
}
.submitButton {
  height: 20px;
  border: none;
  outline: none;
  width: 100px;
  background-color: $blue;
  color: $fontColor;
}


@media screen and (max-width: 600px) {
  .inputContainer{
    padding: $baseSize / 2;
  }
  .inputLabel {
    width: 150px;
  }
  .formInput {
    display: inline-flex;
    margin: $baseSize / 2; 
  }
}